body {
        padding: 0;
        margin: 0;
}

html, body, #map {
        height: 100%;
        width: 100%;
}

.leaflet-popup-content p {
        margin: 0
}

.low-opacity {
        opacity: 0.5;
}

.map-popup {
        overflow-y: scroll;
        height: 400px;
}

.img-popup {}

.btn-popup {
        margin-top: 5px;
        margin-bottom: 5px;
}

#more-ads {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
}